<p id="notice"><%= notice %></p>

<h1>Listing Profiles</h1>

<table>
  <thead>
    <tr>
      <th>Bio</th>
      <th>Member</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= profile.bio %></td>
        <td><%= profile.member_id %></td>
        <td><%= link_to 'Show', member_profile_path(@member, profile) %></td>
        <td><%= link_to 'Edit', edit_member_profile_path(@member, profile) %></td>
        <td><%= link_to 'Destroy', [@member, profile], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profile', new_member_profile_path %>
