<!DOCTYPE html>
<html>
<head>
  <title>Airbnb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if member_signed_in? %>
 <%= render "shared/logged_in_header" %>
<% else %>
 <%= render "shared/logged_out_header" %>
<% end %>

<% unless notice.blank? %>
	<%= notice %>
<% end %>

<% unless alert.blank? %>
	<%= alert %>
<% end %>

<%= yield %>

</body>
</html>
